.side-nav {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
}

.side-nav .title {
    font-weight: 900;
    background: #f3f5f8;
}

.side-nav .title,
.side-nav .nav-item {
    display: block;
    padding: 7px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.side-nav .nav-item:hover {
    background: #f3f5f8;
}

.side-nav .router-link-active {
    border-left: 2px solid red;
}
