@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Microsoft YaHei', SimHei, sans-serif;
  color: #444;
  font-size: 13px;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

table {
  border-collapse: collapse;
}

.dib {
  display: inline-block;
}

.bg-white {
  background: #fff;
}

.tel {
  font-weight: bold;
  color: #fd521d;
}

.col-lg-1 {
  width: 8.333333333%;
}

.col-lg-2 {
  width: 16.666666666%;
}

.col-lg-3 {
  width: 25%;
}

.col-lg-4 {
  width: 33.3333333333%;
}

.col-lg-5 {
  width: 41.6666666666%;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: 58.33333333%;
}

.col-lg-8 {
  width: 66.666666666%;
}

.col-lg-9 {
  width: 75%;
}

.col-lg-10 {
  width: 83.33333333333%;
}

.col-lg-11 {
  width: 91.66666666666%;
}

.col-lg-12 {
  width: 100%;
}

@media (max-width: 400px) {
  .col-sm-1 {
    width: 8.333333333%;
  }
  .col-sm-2 {
    width: 16.666666666%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666666%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-8 {
    width: 66.666666666%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333333333%;
  }
  .col-sm-11 {
    width: 91.66666666666%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

.row {
  font-size: 0;
  display: block;
  /* margin-left: -5px;
  margin-right: -5px; */
}

.kill-space {
  font-size: 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 5px;
  padding-right: 5px; */
}

.well {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f0f0f0;
  padding: 10px;
}

[class*=col-],
.col {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
}

.col.left,
[class*=col-].left {
  text-align: left;
}

.col.right,
[class*=col-].right {
  text-align: right;
}

button.active {
  background: #fd521d;
  color: #fff;
}

textarea,
button,
.btn,
input {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, .1);
  line-height: 1.1;
  color: #444;
}

textarea,
button,
.btn {
  cursor: pointer;
  outline: 0;
  background: #fff;
}

.btn-primary {
  background: #fd521d;
  color: #fff;
}

.btn-small {
  padding: 3px 5px;
  font-size: .8rem;
}

.btn-fat {
  padding-left: 40px;
  padding-right: 40px;
}

.huge-text {
  font-size: 50px;
}

.bold {
  font-weight: bold;
}

.currency:before {
  content: 'ï¿¥';
}

.input-control {
  margin-bottom: 15px;
}

.input-group-3>*,
.input-group>* {
  border-left: 0;
}

.input-group-3>*:first-child,
.input-group>*:first-child {
  border-left: 1px solid rgba(0, 0, 0, .1);
  width: 30%;
}

.input-group>*:last-child {
  width: 70%;
}

.input-group-3>*:nth-child(2) {
  width: 50%;
}

.input-group-3>*:last-child {
  width: 20%;
}

.error-list {
  margin-top: 3px;
}

.error {
  color: #fd521d;
  padding-top: 8px;
  font-size: 14px;
  line-height: 18px;
}

.empty-holder {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #777;
}

.anchor {
  cursor: pointer;
}

button:disabled {
  background: rgba(0, 0, 0, .1);
  cursor: not-allowed;
}